/* Fonts */
 @font-face {
  font-family: "header";
  src: "assets/Comfortaa-Regular.ttf" format("truetype");
 }

 @font-face {
  font-family: "normal";
  src: "assets/Comfortaa-Regular.ttf" format("truetype");
 }

 @font-face {
  font-family: "bold";
  src: "assets/Comfortaa-Bold.ttf" format("truetype");
 }

 @font-face {
  font-family: "light";
  src: "assets/Comfortaa-Light.ttf" format("truetype");
 }

/* Base */
 body,
 html {
  background-color: #7a82cf;
  background-image: url('https://64.media.tumblr.com/f894908511f8f46bbb0be4843233d2e7/tumblr_inline_mns3wfA8Zw1qz4rgp.jpg');
  cursor: url('https://hungrylass.neocities.org/cakecursor.png'), auto;
  font-family: "normal";
  font-size: 10px;
 }

 /* scrollbar */
 ::-webkit-scrollbar {
  width: 10px;
 }

 ::-webkit-scrollbar-track {
  background: #7a82cf;
 }

 ::-webkit-scrollbar-thumb {
  background: #7a82cf;
 }

 ::-webkit-scrollbar-thumb:hover {
  background: #7a82cf;
 }

/* Layout */

 .container {
  position: absolute;
  margin: auto;
  width: 1500px;
  padding: 0px;
  box-sizing: border-box;
 }

 #header {
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 30px;
  height: 52px;
  width: 1100px;
  padding: 0px;
  background-image: url('assets/bannerimg.gif');
  Background-size: 100%;
  box-sizing: border-box;
 }

 #footer {
  position: relative;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  height: 28px;
  width: 1100px;
  padding: 0px;
  background: #7a82cf;
  border: 1px solid #7a82cf;
  box-sizing: border-box;
  text-align: center;
  font-family: "bold";
 }

 #flex {
  display: flex;
  margin: auto;
  width: 1100px;
  height: 700px;
  box-sizing: border-box;
 }

 main {
  flex: 1;
  order: 1;
  margin: 0px;
  width: 890px;
  padding: 5px;
  text-align: left;
  background: #ffffff;
  border: 1px solid #7a82cf;
  box-sizing: border-box;
 }

 aside {
  width: 200px;
  padding: 0px;
  border: 0px solid #000000;
  box-sizing: border-box;
  text-align: left;
 }

 #nav {
  order: 2;
  width: 200px;
  padding: 0px;
  margin-left: 10px;
  text-align: left;
 }

#frame {
 name: "main";
 frameborder: "0";
 width: 100%;
 height: 100%;
 padding: "5px";
}

/* Sections */
 section {
  margin-bottom: 10px;
  padding-bottom: 0px;
  background: #ffffff;
  border: 1px solid #7a82cf;
  text-align: left;
 }

 .miniheader {
  height: 10px;
  background: #7a82cf;
  overflow-y: visible;
  padding: 0px;
  margin: 0px;
  text-align: center;
 }

 .menu {
  background: #ffffff;
  padding-left: 10px;
  margin-bottom: 10px;
  overflow-x: visible;
 }

/* Decorations */
 .avatar {
  background: #ffffff;
  width: 140px;
  padding-left: 0px;
  margin-bottom: 0px;
  overflow-x: hidden;
 }

 .charm {
  position: relative;
  top: -5px;
  left: 64px;
 }
.img2 {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 5px;
    border-radius: 0px;
  }

/* Audio Player */
 audio::-webkit-media-controls-panel {
  background-color: #7a82cf;
  background-size: cover;
  background-position: center;
 }

.audio2 {
 width:180px; 
 height:20px; 
 margin-top:6px; 
 margin-bottom:6px; 
 margin: auto;
}

/*Text Properties*/
 p {
  font-family: "normal";
  font-size: 10px;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #111111;
 }
 .f {
  font-family: "normal";
  font-size: 10px;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #FFFFFF;
 }

 .italic {
  font-family: "light";
  font-size: 10px;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #7a82cf;
  font-style: italic;
 }

 .bold {
  font-family: "bold";
  font-size: 10px;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 800;
  color: #7a82cf;
 }

 h1 {
  font-family: "header";
  font-size: 20px;
  color: #7a82cf;
 }

 h2 {
  font-family: "bold";
  font-size: 16px;
  letter-spacing: 1.2px;
  word-spacing: 1px;
  color: #7a82cf;
  font-weight: 700;
 }

/*Links*/
 a {
  font-family: "normal";
  font-size: 10px;
  letter-spacing: 1.2px;
  word-spacing: 1px;
  color: #7a82cf;
 }

 a:link {
  font-family: "normal";
  font-size: 10px;
  letter-spacing: 1.2px;
  word-spacing: 1px;
  color: #7a82cf;
 }

 a:hover {
  font-family: "bold";
  font-size: 12px;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  color: #AD1158;
  background-color: #fed1de;
  font-style: italic;
 }

@media screen and (max-width: 850px) {
  .flex {
    display: flex;
    margin:25px;
    flex-wrap: wrap;
  }
 .container {
  position: absolute;
  margin: auto;
  width: 95%;
  padding: 0px;
  box-sizing: border-box;
 }

 #header {
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  height: 105px;
  width: 90%;
  padding: 0px;
  background-image: url('assets/bannerimg.gif');
  Background-size: 100%;
  box-sizing: border-box;
 }

 #footer {
  position: relative;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  height: 22px;
  width: 90%;
  padding: 0px;
  background: #7a82cf;
  border: 1px solid #a9744c;
  box-sizing: border-box;
 }

 #flex {
  display: flex;
  margin: auto;
  width: 90%;
  height: 700px;
  box-sizing: border-box;
 }

#frame {
 name: "main";
 frameborder: "0";
 width: 100%;
 height: 100%;
 padding: "5px";
 overflow-x: hidden;
}

 main {
  flex: 1;
  order: 1;
  margin: 0px;
  width: 60%;
  padding: 10px;
  text-align: left;
  background: #ffffff;
  border: 1px solid #a9744c;
  box-sizing: border-box;
  overflow: hidden;
 }

 aside {
  width: 20%;
  padding: 0px;
  border: 0px solid #000000;
  box-sizing: border-box;
  text-align: left;
 }

 #nav {
  order: 2;
  width: 25%;
  padding: 0px;
  margin-left: 5px;
  text-align: left;
 }
 
 .audio2 {
 width:20%; 
 height:20px; 
 margin-top:6px; 
 margin-bottom:6px; 
 margin: auto;
}

 .avatar {
  background: #ffffff;
  width: 197px;
  max-width: 100%;
  padding-left: 0px;
  margin-bottom: 0px;
  overflow-x: hidden;
 }
  .charm {
  position: relative;
  top: -5px;
  left: 64px;
  max-width: 10px;
 }
  h1 {
  font-family: "header";
  font-size: 10px;
  color: #7a82cf;
 }

 h2 {
  font-family: "bold";
  font-size: 10px;
  letter-spacing: 1.2px;
  word-spacing: 1px;
  color: #7a82cf;
  font-weight: 700;
 }
}
