body {
  background-color: #FFFFFF;
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/254/537/large_2x/light-mint-pastel-green-watercolor-texture-background-free-photo.jpg");
  background-size: 1100px, 950px;
  background-repeat: repeat;
  background-position: left top, right bottom;
  color: black;
}

.body2 {
  background-color: #FFFFFF;
  background-image: url("https://images.thdstatic.com/productImages/22decb1a-e7ec-4b50-8102-6e50670f60be/svn/brewster-wallpaper-samples-499-20003sam-64_600.jpg");
  background-size: 25%;
  background-repeat: repeat;
  background-position: left top, right bottom;
  font-color: white;
}

.body3 {
  background-color: #FFFFFF;
  background-image: url("https://t4.ftcdn.net/jpg/01/06/79/61/360_F_106796186_8OjOE5qYK9erpcDQ0LSClE7IgmH5cUra.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: left top, right bottom;
Color:#FFFFFF;
;
}

h1 {
  color: #013220;
  text-align:center;
}

.d1 {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
img {
            width: 250px;
            max-width: 90%;
            height: auto;
            margin: 5px;
            border-radius: 0px;
        }
}

.d2 {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
img {
            width: 100%;
            max-width: 90%;
            height: auto;
            margin: 5px;
            border-radius: 0px;
        }
}
.phone {
font-size: 30px;
}

@media screen and (max-width: 850px) {
  .d1 img,
  .d2 img,
  .d3 img {
    width: 100%;
    max-width: 90%;
    height: auto;
    margin: 2px;
    border-radius: 0px;
  }

.phone {
font-size: 15px;
}

  p {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
