body {
  background-color: #FFFFFF;
  background-image: url("https://i.pinimg.com/originals/ce/31/0c/ce310c2f68850080fdcd49f5275e8416.gif"), url("/images/main-bg-bottom.png");
  background-size: 1100px, 950px;
  background-repeat: repeat;
  background-position: left top, right bottom;
  color: black;
  font-family: Courier New;
}

/*div {
  border:1px solid black;
}*/

tr, th, td {
  text-align:left;
  padding:10px;
}

h1 {
  color: #021604;
}

h2 {
  color: #FDE5FF;
}

h3 {
  color: #623DA0;
}

h4 {
  color: #3e6b43;
}

h5{
  color: #527f57;
}

h6 {
  color: #618c67;
}

/*CUSTOM RULES*/

/*use for site warnings*/
.warning {
  border-left-style: solid;
  border-left-color: #edac2a;
  border-left-width: 10px;
  background-color: #ffe8bc;
  padding: 15px;
}

/*use for blog posts*/
.blog-post {
  border-left-style: solid;
  border-left-color: #1a5221;
  border-left-width: 10px;
  background-color: #dcedda;
  padding: 15px;
}

.content {
  background-color: White;
  border-radius:10px;
  padding: 20px;
}

.main-content {
  width: 100%;
}

.child{
  padding: 25px 0;
  margin: 0 auto;
  max-width: 540px;
}

.left-sidebar {
  margin-right: 35px;
}

.left-sidebar > iframe {
  max-width: 200px;
  min-height: 770px;
  border: none;
}

.last-updated {
  margin-top:10px;
}

.flex {
  display: flex;
  margin:25px;
}

/*Used for the picture on the main page*/
.bigpic {
  margin: 20px;
}

/*use for page decorations*/
.image-container {
  width: auto;
  height: auto;
  position: relative;
}

@media screen and (max-width: 850px) {
  .flex {
    display: flex;
    margin:25px;
    flex-wrap: wrap;
  }
  
  .left-sidebar {
    width:100%;
    margin: 0px;
    margin-bottom: 35px;
  }

  .left-sidebar > iframe {
    min-width: 100%;
    min-height: 200px;
    border: none;
  }
  .d1 img,
  .d2 img,
  .d3 img {
    width: 100%;
    max-width: 90%;
    height: auto;
    margin: 5px;
    border-radius: 0px;
  }


}
        .GeneratedMarquee {
            font-family: 'Comic Sans MS';
            font-size: 1em;
            font-style: italic;
            line-height: 1em;
            color: #CC00CC;
            background-color: #66FFFF;
            padding: 0.5em;
        }
.d1 {
  background-color: #FDE5FF;
  margin: auto;
  border-style: solid;
  border-radius:2px;
  border-color: #623DA0;
  padding: 20px;
  color: #623DA0;
  text-align:center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
h1 {
  color: white;
}
a {
  color: #623DA0;
}
a:hover {
  color: blue; /* Color on hover */
}

.img {
            width: 100px;
            max-width: 90%;
            height: 150px;
            margin: 5px;
            border-radius: 0px;
 	    border-width:9px;
            border-style:solid;
            border-image: url("https://cdn.discordapp.com/attachments/904308736712138793/995929957790388284/image_copy.png") 7 fill round;
        }

}

.d2 {
background-image: url('https://64.media.tumblr.com/96132909cf7afb2cc598575638094aff/10099423bfa3d426-5d/s400x600/5fb3b30cec21c36f7a57e6298fab1d6a30f99c8b.gif'); no-repeat center center fixed;
            background-size: cover;
  border-style: solid;
  border-radius:2px;
  border-color: #623DA0;
  padding: 20px;
  font-size: 16px;
  color: white;
  text-align:center;
  text-align:center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
h1 {
  color: white;
}
img {
            width: auto;
            max-width: 90%;
 	    border-width:9px;
            border-style:solid;
            border-image: url("https://cdn.discordapp.com/attachments/904308736712138793/995929957790388284/image_copy.png") 7 fill round;
}
}

.d3 {
  background-color: #FDE5FF;
  border-style: solid;
  border-radius:2px;
  border-color: #623DA0;
  padding: 20px;
  font-size: 16px;
  color: white;
  text-align:center;
  text-align:center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
h1 {
  color: white;
}
img {
            width: auto;
            max-width: 90%;
 	    border-width:9px;
            border-style:solid;
            border-image: url("https://cdn.discordapp.com/attachments/904308736712138793/995929957790388284/image_copy.png") 7 fill round;
}
}
.container{
  border-width:9px;
  border-style:solid;
  border-image: url("https://cdn.discordapp.com/attachments/904308736712138793/995929957790388284/image_copy.png") 7 fill round;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}


.btn {
  background: #e5f3fc;
  background-image: -webkit-linear-gradient(top, #e5f3fc, #d1edff);
  background-image: -moz-linear-gradient(top, #e5f3fc, #d1edff);
  background-image: -ms-linear-gradient(top, #e5f3fc, #d1edff);
  background-image: -o-linear-gradient(top, #e5f3fc, #d1edff);
  background-image: linear-gradient(to bottom, #e5f3fc, #d1edff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #623DA0;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #623DA0 2px;
  text-decoration: none;
  margin:10px;
}

.btn:hover {
  background: #d970e0;
  background-image: -webkit-linear-gradient(top, #d970e0, #c834d9);
  background-image: -moz-linear-gradient(top, #d970e0, #c834d9);
  background-image: -ms-linear-gradient(top, #d970e0, #c834d9);
  background-image: -o-linear-gradient(top, #d970e0, #c834d9);
  background-image: linear-gradient(to bottom, #d970e0, #c834d9);
  text-decoration: none;
}
    

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/cursors/cur-1/cur8.ani), url(https://cur.cursors-4u.net/cursors/cur-1/cur8.png), auto !important;} /* End https://www.cursors-4u.com */
